@font-face {
    font-family: 'Digital-7';
    src: url('/static/fonts/Digital-7/Digital-7.eot');
    src: url('/static/fonts/Digital-7/Digital-7.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/Digital-7/Digital-7.ttf') format('truetype'),
    url('/static/fonts/Digital-7/Digital-7.woff') format('woff'),
    url('/static/fonts/Digital-7/Digital-7.svg#digital-7regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Mode Seven';
    src: url('/static/fonts/ModeSeven/ModeSeven.eot');
    src: url('/static/fonts/ModeSeven/ModeSeven.eot?#iefix') format('embedded-opentype'),
    url('/static/fonts/ModeSeven/ModeSeven.ttf') format('truetype'),
    url('/static/fonts/ModeSeven/ModeSeven.woff') format('woff'),
    url('/static/fonts/ModeSeven/ModeSeven.svg#modesevenregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.center-div {
    width: 100%; /* Firefox needs this */

    height: 100%; /* Height can be anything */

    /* WebKit (Chrome & Safari) */
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    /* Firefox */
    display: -moz-box;
    -moz-box-pack: center;
    -moz-box-align: center;

    /* IE */
    display: -ms-box;
    -ms-box-pack: center;
    -ms-box-align: center;

    /* Native CSS */
    display: box;
    box-pack: center;
    box-align: center;
}

html .reveal .slides h1.title
{
    font-family: Digital-7;
    font-size: 4em;
}

html .reveal .slides h1.title .slow, html .reveal .slides h1.title .normal
{
    opacity: 0;
}

html h2.title, html h3.title, .reveal .slides h1
{
    font-family: "Mode Seven";
}

.reveal .slides h1
{
    font-size: 2em;
}

html h2.title
{
    font-size: 1.5em;
}

html h3.title
{
    font-size: 1em;
}

.reveal .slides ul li, .reveal .slides p
{
    font-family: Ubuntu;
}