{% extends "presentation-base.jinja2" %}

{% block title %}
Haxxit - A Turn-Based Strategy Game
{% endblock %}

{% block author %}
Alexander 'smartboyathome' Abbott
{% endblock %}

{% block description %}
Haxxit is a turn-based strategy loosely based around hacking.
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu&subset=Latin">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Haxxit-Proposal.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/Haxxit-Proposal.js') }}"></script>
{% endblock %}

{% block slides %}

    <section data-state="title">
        <h1 class="title"><span class="normal">H</span><span class="slow">a</span><span class="normal">xx<span class="delayed">i</span>t</span></h1>
        <h2 class="title">A Turn-Based Strategy Game</h2>
        <h3 class="title">Alexander Abbott</h3>
    </section>
    
    <section>
        <h1>The Precursor</h1>
        <img src="{{ url_for('static', filename='images/Spybot.png') }}" />
        <p>Lego's Spybot: The Nightfall Incident</p>
    </section>
    
    <section>
        <h1>Spybot's History</h1>
        <ul>
            <li>Created by GameLab in 2002 for Lego</li>
            <li>Built with Macromedia Shockwave, the precursor to Flash</li>
            <li>Advertised short-lived Lego Spybotics line in loading screens</li>
            <li>Gameplay focused on game, not on Lego</li>
        </ul>
    </section>

    <section>
        <h1>Spybot's Mechanics</h1>
        <ul>
            <li class="fragment">The player is a new recruit for SMART, a police force for the internet</li>
            <li class="fragment fade-in">Their role is to break into company servers (aka "nodes") and eliminate corrupted security software</li>
            <li class="fragment fade-in">With each node that is hacked, the player gets a credit reward</li>
            <li class="fragment fade-in">They can exchange these credits for new hacking programs at Warez Nodes.</li>
            <li class="fragment fade-in">Meanwhile, enemy hackers are corrupting security software in order to take down the net</li>
            <li class="fragment fade-in">The player is one of the last few still able to connect, and must stop these hackers</li>
        </ul>
    </section>

    <section>
        <h1>The Game</h1>
        <ul>
            
        </ul>
    </section>

{% endblock %}